[Desktop Entry]
Encoding=UTF-8
Name=Link to     Examples using matplotlib.pyplot.legend
Type=Link
URL=https://matplotlib.org/api/_as_gen/matplotlib.pyplot.legend.html#examples-using-matplotlib-pyplot-legend
Icon=text-html
